src/Mongo2Go/bin/
src/Mongo2GoTests/bin/
src/MongoDownloader/bin/
src/packages/
obj/
*ReSharper*
*.suo
*.dotCover
*.user
~$*
*/StyleCop.Cache
*.nupkg
**/.vs
.idea/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.DS_Store